$font-stack: Helvetica, sans-serif;
$primary-color: #1abc9c;
$radius: 4px;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.gallery-container {
  float: left;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.gallery-thumbnail {
  max-width: 15%;
  height: auto;
  border-radius: $radius;
  padding: 6px;
  margin-bottom: 1.875rem;
}

.column {
  float: left;
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  clear: both;
}
